     /* ---------------------Media query start ------------------------- */
@media (min-width: 1400px){
    .container{
        width: 98% !important;
    }
    img{
        width: 100% !important;
    }
}
@media (min-width: 1200px) and (max-width: 1399.99px) {
.container{
    width: 98% !important;
}
img{
    width: 100% !important;
}
}
@media (min-width: 992px) and (max-width: 1199.99px){
    .container{
        width: 95%;
    }
img{
    width: 97%;
}
.navbar-brand{
    margin-bottom: 5px;
}
}
@media (min-width: 768px) and (max-width: 991.99px)  {


}
     /* --------------------- Media query end ------------------------- */
      /* -----------------------
             Common css start
       ----------------------- */
a{
    text-decoration: none;
    color: inherit;
}
ul,ol{
    list-style: none; 
}
       /* ----------------------- 
             Common css end
       ----------------------- */



      /* ---------------------------- 
               Navbar css start
       ---------------------------- */
nav{
    background-color: #1C1E53;
    padding: 16px 0 !important;
}
.navbar-nav{
 column-gap: 32px;
 line-height: 28px;
}

.nav-link{
    color: white;
    font-size: 16px;
    font-weight:  500;
    font-family: "Poppins", sans-serif;
    padding-left: 0 !important;
    padding-right: 0 !important;
    transition: 0.4s;
}
.nav-item:hover .nav-link{
    color: #BBBBCB;
}
.nav-btn{
    background: transparent;
    border: 1px solid rgba(244, 246, 252, 0.2);
    border-radius: 41px;
    padding: 16px 48px;
    margin-left: 48px;
    color: rgb(255 255 255) !important;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    transition: 0.5s;
    cursor: pointer;
}
.nav-btn:hover{
    background-color: #FCD980;
    border: 1px solid #FCD980;
    color: black !important;
}
           /* -------------------------- 
                  Navbar css end
            -------------------------- */
            /* ---------------------------- 
               Banner css start   
         ---------------------------- */
.banner-section{
    background-color: #1C1E53;
    padding: 120px 0;
}
.banner-section h1{
    font-size: 54px;
    font-weight: 600;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    line-height: 74px;
    margin-bottom: 24px;
}
.banner-section p{
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    margin-bottom: 37px;
    width: 562px;
}
.banner-btn  a{
    background: #FCD980;
    border-radius: 41px;
    padding: 16px 56px;
    color: black !important;
    font-size: 18px;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
    line-height: 32px;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid transparent;
}
.banner-btn  a:hover{
    background-color: transparent;
    border: 1px solid #FCD980;
    color: #FCD980 !important;
}
.banner-section .container{
    position: relative;
}
.banner-section .container .pricing a{
    position: absolute;
    display: inline-block;
    bottom: -0px;
    left: 27%;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: white;
}
.banner-section .container .pricing a i{
    position: absolute;
    bottom: 4px;
    left: 124px;
    width: 0%;
    transition: 0.5s;
    color : transparent !important;
}
.banner-section .container .pricing a:hover i{
    width: 100%;
    color : white !important;
}
  /* ---------------------------- 
               Banner css start 
    ---------------------------- */
  /* ---------------------------- 
               Work part css start 
    ---------------------------- */
    .work-section .container{
        position: relative;
        padding: 128px 0px;
    }
.work-section h2{
    font-size: 48px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 64px;
    margin-bottom: 16px;
    color: #282938;
}
.work-section p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    color: #282938;
    margin-bottom: 16px; 
    width: 405px;
}
.work-section .work-ani a{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #2405F2;
    margin-top: 24px;
    position: absolute;
}
.work-section .container .work-ani a i{
    position: absolute;
    bottom: 4px;
    left: 150px;
    width: 0%;
    transition: 0.5s;
    color : transparent !important;
}
.work-section .container .work-ani a:hover i{
    width: 100%;
     color : #2405F2 !important;
}
.work-section .work-box{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.work-section .work-card{
    width: 48%;
    height: 200px; 
}
.work-section .work-card img{
   width: 50px !important;
   height: 50px;
}
.work-section .work-card h2{
    font-size: 32px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 48px;
    margin-top: 16px;
    margin-bottom: 8px;
    color: #282938;
    transition: 0.4s;
    cursor: pointer;
}
.work-section .work-card p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
    color: rgba(40, 41, 56, 0.7);
}
.work-section .work-card h2:hover{
   text-shadow: 1px 3px 9px rgba(0,0,0,0.61);
}
  /* ---------------------------- 
               Work part css start 
    ---------------------------- */




        /* ---------------------------- 
               Project part css start 
        ---------------------------- */
.project-section{
    padding: 128px 0;
}
.project-section .container{
    position: relative;
}
.project-section .container .project-ani .project-btn{
    position: absolute;
    top: 20px;
    right: 24px;
    align-items: center;
}
.project-section .container .project-ani{
    display: flex;
    margin-bottom: 64px;
    text-align: center;
    position: relative;
    justify-content: space-between;
 }
.project-section .container .project-ani h2{
    font-size: 48px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 64px;
    color: #282938;
}
.project-section .container .project-ani .project-btn a{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #282938;
}




.project-section .container .project-ani a i{
    position: absolute;
    top: 6px;
    left: 88px;
    width: 0%;
    transition: 0.5s;
    color : transparent !important;
}
.project-section .container .project-ani a:hover i{
    width: 100%;
    color : #282938 !important;
}
.project-section .project-box{
    display: flex;
}
.project-box .project-image1{
    width: 843px;
    height: 600px;
    position: relative;
    overflow: hidden;
}
.project-box .project-image2{
    width: 405px;
    height: 284px;
}
.project-box .col-lg-8 .project-image1 .overlay{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: rgba(28, 30, 83,0.42);
    top: 0;
    left: -421.5px;
    transition: 0.4s;
    overflow: hidden;
}
.project-box .col-lg-8 .project-image1:hover .overlay{
    left: 0;
}
.project-box .col-lg-8 .project-image1 .overlay h2{
    color: white;
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 36px;
    height: 72px;
    padding-top: 312px;
    padding-left: 48px;
    padding-right: 35px;
}
.project-box .col-lg-8 .project-image1 .overlay p{
    color: rgba(255, 255, 255,0.8);
    padding-left: 48px;
    padding-right: 55px;
    padding-top: 100px;
    padding-bottom: 40px;
}




















        /* ---------------------------- 
               Project part css end 
        ---------------------------- */












          
               
               











        


